/*======= Google fonts =======*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --first-color: #000000;
    --second-color:#8d7b4b;
    --third-color: #5e391b;
    --text-color: #fff;

    --box-shadow: 0 5px 25px rgb(2, 2, 2, 0.1);
    --text-shadow: 0 5px 25px rgb(2, 2, 2, 0.1);
    --modal-bg-color: #fff;
    --transparent-color-01: rgba(0, 0, 0, 0.1);
}

/*======= Main CSS =======*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: var(--first-color);
}

section{
    position: relative;
    margin: 0 80px;
    transition: 0.5s ease;
}

.main-container{
    position: relative;
}

/*======= Tab navigation bar =======*/
.tab-nav-bar{
    position: fixed;
    bottom: 5%; /* Align to the bottom */
    left: 0; /* Align to the left edge */
    right: 0; /* Align to the right edge */
    margin: 0 auto; /* Center the navigation bar horizontally */
    z-index: 999; /* Ensure it's above other content */
}

.tab-navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin: 0 auto;
}


.tab-menu{
    color: var(--text-color);
    list-style: none;
    background: var(--third-color);
    max-width: 800px;
    padding: 10px;
    white-space: nowrap;
    border-bottom: 1px solid var(--third-color);
    border-radius: 50px;
    box-shadow: var(--box-shadow);
    overflow-x: auto;
    user-select: none;
    scroll-behavior: smooth;
}

.tab-menu.dragging{
    scroll-behavior: unset;
    cursor: grab;
}

.tab-menu::-webkit-scrollbar{
    display: none;
}

.tab-btn{
    color: var(--text-color);
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    margin: 0 2px;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    user-select: none;
    transition: 0.3s ease;
}

.tab-menu.dragging .tab-btn{
    pointer-events: none;
}

.tab-btn:hover{
    background: var(--first-color);
}

.tab-btn.active{
    background: var(--second-color);
}

.left-btn, .right-btn{
    position: absolute;
    color: var(--text-color);
    font-size: 1.8em;
    padding: 10px;
    cursor: pointer;
}

.left-btn{
    left: 0;
    background: linear-gradient(to left, transparent, var(--first-color) 80%);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: none;
}

.right-btn{
    right: 0;
    background: linear-gradient(to right, transparent, var(--first-color) 80%);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

/*======= Tab content =======*/
.tab-content{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.tab{
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: auto;
    max-width: 1100px;
    padding: 15px 50px;
    transform: translateX(25px);
    content-visibility: hidden;
    opacity: 0;
}

.tab.active{
    transform: translateX(0);
    content-visibility: visible;
    opacity: 1;
    transition: 1s ease;
}

/*=======Portfolio section=======*/
.portfolio .container .content{
  width: 100%;
}

.portfolio-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Adjusted for 2 items per row */
    gap: 35px;
    margin: 0 auto;
    padding: 0 10px; /* Add some padding if needed for spacing from the viewport edges */
}


.portfolio-list .img-card{
    position: relative;
    max-width: 90%;
    height: 180px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    cursor: pointer;
  }

.portfolio-list .img-card .overlay{
  transition: 1s ease;
}

.portfolio-list .img-card:hover .overlay{
    z-index: 777;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.portfolio-list .img-card .info{
  z-index: 777;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
  color: #fff;
  transform: translateY(20px);
  opacity: 0;
  transition: .5s ease;
}

.portfolio-list .img-card:hover .info{
  transform: translateY(0);
  opacity: 1;
}

.portfolio-list .img-card .info h3{
    font-size: 0.75em;
}
  
.portfolio-list .img-card .info span{
    font-size: 0.65em;
}
  
.portfolio-list .img-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.porfolio-model{
    z-index: 999999;
    position: fixed;
    width: 100%;
    height: 100vh;  /* change this to modify blurred height */
    top: 0;
    left: 0;
    background: var(--transparent-color-01);
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
    display: flex; /* Enables flexbox for its children */
    align-items: center; /* Centers children vertically */
    justify-content: center; /* Centers children horizontally */
  }
  
.porfolio-model.active{
    visibility: visible;
    opacity: 1;
}
  
.portfolio-model-body{
    position: relative;
    background: var(--modal-bg-color);
    max-width: 600px;
    width: 90%; /* Responsive width */
    margin: auto; /* Helps with centering */
    padding: 40px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transform: translateY(50px);
    transition: .5s ease;
}
  
.porfolio-model.active .portfolio-model-body{
    transform: translateY(0);
}
  
.portfolio-close-btn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
}
  
.portfolio-model-body h3{
    font-size: 1.5em;
}
  
.portfolio-model-body img{
    width: 100%;
    margin: 20px 0;
    border-radius: 10px;
}


.country{
    color: var(--third-color);
    font-size: 5em;
    font-weight: 700;
    text-align: center;
    text-shadow: var(--text-shadow);
}








/*======= Media queries (max-width: 1050px) =======*/
@media screen and (max-width: 1050px){
    section {
        margin: 0 0px;
    }



    .tab-nav-bar{
        position: fixed;
        bottom: 3%; /* Align to the bottom */
        left: 10%; /* Align to the left edge */
        right: 10%; /* Align to the right edge */
        margin: 0 auto; /* Center the navigation bar horizontally */
        z-index: 999; /* Ensure it's above other content */
    }
    

    .tab {
        padding: 15px 25px;
    }
/*
    .tab .row {
        flex-direction: column;
    }

    .tab .img-card {
        width: auto;
        max-width: 600px;
    }
*/
    .country {
        font-size: 12vw;
        padding-bottom: 50px;
    }
}